.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 20%;
  background-color: #ffffff;
}

.right-panel {
  width: 80%;
  background-color: #ffffff;
}

.clickable-list ul {
  list-style: none;
  padding: 0;
}

.clickable-list li {
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  list-style-type: none;
}

.clickable-list li:hover {
  background-color: #e0e0e0;
}

.clickable-list li.selected {
  background-color: rgb(61, 180, 249);
  /* 다른 스타일 속성들 */
}

.scrollable-section {
  /* width: 300px; 
  height: 200px;  */
  overflow: scroll; 
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 80%;
}

.message.user {
  background-color: #F0F0F0;
  align-self: flex-end;
}

.message.system {
  background-color: #DCF8C6;
  align-self: flex-start;
}
